<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ metadata['title'] }} - Accueil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/repas.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/confirmation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/paiement.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/panier.css') }}">
</head>
<body>
    {% include 'nav.html' %}
    {% block content %}
    {% endblock %} 
</body>
</html>